.carBlockContainer {
  margin-top: 50px;
}

.carBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px wheat dotted;
  margin-top: 20px;

  .btnBlock {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: start;

    .selectBtn {
      width: 80px;
      margin-left: 30px;
    }

    .removeBtn {
      width: 80px;
      margin-left: 10px;
    }

    .nameCar {
      color: aquamarine;
      margin-left: 25px;
      font-size: 120%;
      line-height: 30px;
    }
  }

  .bottomBlock {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;

    .letter {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 2px solid gold;
      border-radius: 5px;
      text-align: center;
      line-height: 25px;
      color: gold;
      font-weight: 600;
      font-family: sans-serif;
    }

    .disactiveBtn{
      margin-top: 2.5px;
      cursor: default;
      width: 25px;
      height: 25px;
      border: 2px solid rgb(108, 92, 2);
      color: rgb(108, 92, 2);
    }

    .btnA {
      margin-left: 30px;
    }

    .btnB {
      margin-left: 5px;
    }

    .car {
      position: relative;
      width: 140px;
      height: 50px;
      background-size: cover;
      margin-left: 10px;
      mask-image: url("https://raw.githubusercontent.com/Sedric14/assets/main/race/car.svg");
      -webkit-mask-size: cover;
      mask-size: cover;

      .carSvg{
        display: block;
        width: 500px;
        height: 200px;
      }
    }

    .flag {
      position: absolute;
      right: 150px;
      height: 50px;
      width: 50px;
      background: url("https://raw.githubusercontent.com/Sedric14/assets/main/race/race_logo.png");
      background-size: cover;
    }
  }
}

.prewNextBlock {
  display: flex;
  margin-top: 10px;
  margin-left: 25px;

  .prewNext {
    height: 15px;
    line-height: 15px;
    margin: 0 5px;

    &::after {
      top: -14px;
      border-radius: 3px;
    }
  }
}



